// Change default Bootstrap values 
@import 'variables';
// Add the complete sass library from Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';



// Global Styles-------------------------------------
#Logo{
    path{
        fill: $primary;
    }
}
body{
    // NAVIGATION
    > header{
        nav.navbar ul li.nav-item a.nav-link.active{
            color: white;
        }
    }
    
    footer{
        ul li .nav-link, p{
            color: $white;
        }
    }
}
// -------------------------------------